body {
  background: #772F1A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F2A65A, #772F1A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F2A65A, #772F1A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
  color: #ffffff;
  letter-spacing: 5px;
  text-align: center;
  font-size: 100px;
  font-family: 'Bebas Neue';
  text-shadow: 0 0 100px #ffffff;
  -webkit-animation: fadein 2s;
}

div {
  border-radius: 25px;
  background-color: white;
  width: 300px;
  height: 550px;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Arial';
  box-shadow: 0 0 100px #ffffff;
  -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
