body {
  background: #D2DAFF;
}

<style>
body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.container {
  border: 3px solid #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.top {
  padding: 10px;
  background: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.content {
  padding: 10px;
}

@-webkit-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
