body {
  background: #D2DAFF;
}

* {
  box-sizing: border-box;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.material-symbols-outlined {
  height: 30px;
  width: 30px;
  color: #D2DAFF;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.container {
  border: 3px solid #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.top {
  padding: 10px;
  background: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.wback {
  padding: 10px;
  background: #ffffff;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #fafafa 0, #fafafa 1px, #ffffff 0, #ffffff 50%);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.content {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #D2DAFF;
  text-align: center;
  font-size: 100px;
  font-family: 'Bebas Neue';
  padding: 10px;
}

@-webkit-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
