body {
  background: #654ea3;
background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
background: linear-gradient(to right, #eaafc8, #654ea3);
}

h1 {
  color: #00000f;
  letter-spacing: 5px;
  text-align: center;
  font-size: 100px;
    font-family: 'Bebas Neue';
  text-shadow: 0 0 100px #ffffff
}